/* Style the food card */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #ffffff;
    padding: 60px 200px;
}

.food-card_container{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.food-card_frame{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.food-card {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: fit-content;
    background-color: #F8F8F8;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    align-items: center;
    padding: 25px;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.food-card img {
    object-fit: cover;
    width: 128px;
    height: 128px;
    border-radius: 10px;
}

.food-card-info {
    max-width: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.food-title {
    width: fit-content;
    font-size: 20px;
    color: #202020;
}

.restaurant-name {
    font-size: 16px;
    color: #808080;
}

.price-and-time {
    display: flex;
    justify-content: space-between;
}

.price,
.time {
    font-size: 16px;
}
.price-and-time span{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.price-and-time span svg{
    width: 20px;
    height: 20px;
    fill: #FC8019;
}